.col_options {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

.category_options {
  padding-left: 20px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.title {
  padding-left: 20px;
}

.autor {
  font-weight: bold;
  color: black;
  padding-left: 20px;
}

.date {
  padding-left: 20px;
  font-size: 0.875rem;
  height: fit-content;
  color: #5a5a5a;
}
